spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/asumc_db
    username: asumc_user
    password: asumc_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true
    show-sql: true

server:
  port: 8080

logging:
  level:
    kz.asumc: DEBUG
    org.hibernate.SQL: DEBUG

app:
  jwt:
    secret: YXN1bWMtc2VjcmV0LWtleS1taW4tMjU2LWJpdHMtbG9uZw==
    expiration: 86400000
